<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alimentos">
  
    <select id="getAllAlimentos" resultType="POJOS.alimentos">
          SELECT 
          alimento.idAlimento,
          alimento.nombre,
          alimento.calorias,
          alimento.porcion
          FROM alimento
    </select>
    
    <select id="getAlimentoById" resultType="POJOS.alimentos" parameterType="int">
        SELECT
        alimento.idAlimento,
        alimento.nombre,
        alimento.calorias,
        alimento.porcion
        FROM alimento WHERE alimento.idAlimento = #{idAlimento}
    </select>
    
    <select id="getAlimentoByName" resultType="POJOS.alimentos" parameterType="String">
        SELECT 
        alimento.idAlimento,
        alimento.nombre,
        alimento.calorias,
        alimento.porcion
        FROM alimento WHERE alimento.nombre = #{nombre}
    </select>
    
    <insert id="nuevoAlimento" parameterType="POJOS.alimentos">
        INSERT INTO
        alimento (idAlimento, nombre, calorias, porcion)
        VALUES
        (#{idAlimento}, #{nombre}, #{calorias}, #{porcion})
    </insert>
    
</mapper>