<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alimentos">
  
    <select id="getAllAlimentos" resultType="POJOS.Alimento">
          SELECT 
          alimento.idAlimento,
          alimento.nombreAlimento,
          alimento.calorias,
          alimento.idPorcion
          FROM alimento
    </select>
    
    <select id="getAlimentoById" resultType="POJOS.Alimento" parameterType="int">
        SELECT
        alimento.idAlimento,
        alimento.nombreAlimento,
        alimento.calorias,
        alimento.idPorcion
        FROM alimento WHERE alimento.idAlimento = #{idAlimento}
    </select>
    
    <select id="getAlimentoByName" resultType="POJOS.Alimento" parameterType="String">
        SELECT 
        alimento.idAlimento,
        alimento.nombreAlimento,
        alimento.calorias,
        alimento.porcion
        FROM alimento WHERE alimento.nombre = #{nombre}
    </select>
    
    <insert id="nuevoAlimento" parameterType="POJOS.Alimento">
        INSERT INTO
        alimento (idAlimento, nombreAlimento, calorias, idPorcion)
        VALUES
        (#{idAlimento}, #{nombreAlimento}, #{calorias}, #{idPorcion})
    </insert>
    
    <update id="actualizarAlimento" parameterType="POJOS.Alimento">
        UPDATE alimento SET nombre = #{nombreAlimento}, calorias = #{calorias}, idPorcion = #{idPorcion} WHERE idAlimento = #{idAlimento}
    </update>
    
    <delete id="eliminarAlimento" parameterType="POJOS.Alimento">
        DELETE FROM alimento where idAlimento = #{idAlimento}
    </delete>
</mapper>