<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="citas">
    <insert id="nuevaCita" parameterType="POJOS.alimentos">
        INSERT INTO
        cita (idCita, idPaciente, idMedico, fecha_hora, observaciones)
        VALUES
        (#{idCita}, #{idPaciente}, #{idMedico}, #{fecha_hora}, #{observaciones})
    </insert>
</mapper>