<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="consultas">
    <insert id="nuevaConsulta" parameterType="POJOS.Consulta">
        INSERT INTO
        consulta (idConsulta, idPaciente, idMedico, idDieta, observaciones, fechaConsulta)
        VALUES
        (#{idConsulta}, #{idPaciente}, #{idMedico}, #{idDieta}, #{observaciones}, #{fechaConsulta})
    </insert> 
   
    <update id="actualizarConsulta" parameterType="POJOS.Consulta">
        UPDATE 
        consulta SET idPaciente = #{idPaciente}, idMedico = #{idMedico}, idDieta = #{idDieta}, observaciones = #{observaciones}, fechaConsulta = #{fechaConsulta}
        WHERE idConsulta = #{idConsulta}
    </update>
    
    <delete id="eliminarConsulta" parameterType="POJOS.Consulta">
        DELETE FROM consulta where idConsulta = #{idConsulta}
    </delete>
    
    <select id="getById" resultType="POJOS.Consulta" parameterType="int">
        SELECT
        *
        FROM consulta WHERE consulta.idConsulta = #{idConsulta}
    </select>
</mapper>