<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Paciente">
    
    <insert id="registrarPaciente" parameterType="POJOS.Paciente">
        INSERT INTO
        paciente (idPaciente, nombre, apellidoMaterno, apellidoPaterno, direccion, correo, password, telefono, fechaNacimiento, sexo, idEstatus)
        VALUES (#{idPaciente}, #{nombre}, #{apellidoMaterno}, #{apellidoPaterno}, #{direccion}, #{correo}, #{password}, #{telefono}, #{fechaNacimiento}, #{sexo}, #{idEstatus})
    </insert>
    
    <update id="actualizarPaciente" parameterType="POJOS.Paciente">
        UPDATE
        paciente SET nombre = #{nombre}, apellidoMaterno = #{apellidoMaterno}, apellidoPaterno = #{apellidoPaterno},
        direccion = #{direccion}, correo = #{correo}, password = #{password}, telefono = #{telefono}, fechaNacimiento = #{fechaNacimiento}, 
        sexo = #{sexo}, idEstatus = #{idEstatus} WHERE idPaciente = #{idPaciente}
    </update>
    
    <select id="getAllPacientes" resultType="POJOS.Paciente">
        SELECT * FROM paciente;
    </select>
    
    <select id="getPacienteByEmail" resultType="POJOS.Paciente" parameterType="String">
        SELECT
        *
        FROM paciente WHERE paciente.correo = #{correo}
    </select>
</mapper>
