<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- Para Testeos de Manera Local(Si quieren cambiar las rutas, haganlo) --> 
                <property name="url" value="jdbc:mysql://localhost:3306/nutricion"/>
                <property name="username" value="root"/>
                <property name="password" value="123123"/>
                <!-- Para el servidor en linea 
                <property name="url" value="jdbc:mysql://xeraph.000webhost.com:3306/id7312386_dbnutricion"/>
                <property name="username" value="id7312386_dbnutricion"/>
                <property name="password" value="nutricion123"/> -->
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
        
    </environments>
    
    <mappers>
        <mapper resource="mybatis/mappers/alimentosMapper.xml" />
        <mapper resource="mybatis/mappers/citasMapper.xml" />
        <mapper resource="mybatis/mappers/loginMapper.xml" />
        <mapper resource="mybatis/mappers/pacientesMapper.xml" />
        <mapper resource="mybatis/mappers/consultasMapper.xml" />
        <mapper resource="mybatis/mappers/medicosMapper.xml" />
        <mapper resource="mybatis/mappers/dietaMapper.xml" />
        <mapper resource="mybatis/mappers/DietaAlimentoMapper.xml" />
    </mappers>
</configuration>